<footer class="mw8 center pa4 pa5-l black-70 bt b--black-10 bg-white">
  <a id='contact'></a>
  <div class="mb4-l cf">
    <h1 class="fl w-100 pv0 f6 fw6 ttu tracked mb4">Locations</h1>
    <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l mb4 pr2 pr0-ns">
      <h4 class="f5 f4-l fw6">East Coast</h4>
      <span class="f7 f6-l db black-70">311 N. Sumneytown Pike Suite 1B</span>
      <span class="f7 f6-l black-70">North Wales, PA 19454</span>
      <a class="f6 db fw6 pv3 black-70 link dim" title="Call SF" href="tel:+12075555555">
        +1 207-555-5555
      </a>
    </article>
    <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l mb4 pr2 pr0-ns">
      <h4 class="f5 f4-l fw6">West Coast</h4>
      <span class="f7 f6-l db black-70">201 N. Brand Blvd Suite 200</span>
      <span class="f7 f6-l black-70">Glendale, CA 91203</span>
      <a class="f6 db fw6 pv3 black-70 link dim" title="Call SF" href="tel:+12075555555">
        +1 207-555-5555
      </a>
    </article>
    <div class="mb4 mb0-ns w-100 w-50-l fr">
      <a class="black-70 f3 f2-ns fw6 tl link dim dib pv3 mt2 mb4 mb0-l" href="mailto:sales@jsatautomation.com">
        sales@jsatautomation.com
      </a>
    </div>
  </div>
  <div class="dt dt--fixed w-100">
    <div class="dn dtc-ns v-mid">
      <p class="f7 black-70 dib pr3 mb3">
        Copyright © JSAT Automation 2018
      </p>
    </div>
  </div>
  <div class="db dn-ns">
    <p class="f7 black-70 mt4 tc">
      Copyright © JSAT Automation 2018
    </p>
  </div>
</footer>
