<header class="main-header w-100 pa3 ph5-ns bg-white bb b--black-10">
  <div class="flex items-center justify-between mw9 center w-100">
    <div class="tl w-50">
      <a href="/" class="inline-flex f5 f4-ns fw6 mt0 mb1 link black-70" title="Home">
        <img src="/assets/img/logoicon.png" class="h2 w2 na2 pr3" />
        JSat Automation
      </a>
    </div>
    <nav class="dn db-l v-mid w-100 tl tr-ns mt2 mt0-ns">
      <a title="About" href="/#about" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        About
      </a>
      <a title="Projects" href="/#projects" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Projects
      </a>
      <a title="Team" href="/#team" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Team
      </a>
      <a title="Careers" href="/#careers" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Careers
      </a>
      <a title="Contact" href="/#contact" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Contact
      </a>
    </nav>
    <div class="db dn-l tr">
      <button class="menu-toggle bn bg-white mr2">
        <img src="/assets/img/menu.svg" class="h2 w2"/>
      </button>
      <nav class="menu dn absolute bg-white pa3 ph5-ns tr left-0 right-0 bb b--black-10">
        <ul class="list mv0 ph0 pv3">
          <li class='mv2'>
            <a title="About" href="/#about" class="f4 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
              About
            </a>
          </li>
          <li class='mv2'>
            <a title="Projects" href="/#projects" class="f4 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
              Projects
            </a>
          </li>
          <li class='mv2'>
            <a title="Team" href="/#team" class="f4 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
              Team
            </a>
          </li>
          <li class='mv2'>
            <a title="Careers" href="/#careers" class="f4 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
              Careers
            </a>
          </li>
          <li class='mv2'>
            <a title="Contact" href="/#contact" class="f4 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
