---
layout: default
---

<div class="home bg-grid">
  <section class='section-placeholder'>
    <a id='main'></a>
    <div class='doodle dn'></div>
  </section>
  <section class='section-placeholder'>
    <a id='about'></a>
  </section>
  <section class="mh5 pa3 ph5-ns center bg-blue">
    <a id='projects'></a>
    <article class="">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dtc-ns v-mid">
          <div>
            <h2 class="fw4 white mt0 mb3">View our featured projects</h2>
            <p class="white measure lh-copy mv0">
              Come see how we helped our customers' interests integrate with the right decision for the right solution!
            </p>
          </div>
        </div>
        <div class="pa3 pa4-ns dtc-ns v-mid cf">
          <a href="/projects/" class="no-underline f6 tc db w-50 pv3 bg-animate bg-white hover-bg-lightest-blue blue br2 fr">Projects</a>
        </div>
      </div>
    </article>
  </section>
  <section class="pa3 ph5-ns center bg-near-white">
    <a id='team'></a>
    <article>
      <h2 class="f3 fw4 pa3 mv0">Team</h2>
      <div class="cf pa2">
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/RyanA.png" alt='Ryan "Professor" Arceo' class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Ryan "Professor" Arceo</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/SarveshA.png" alt="Sarvesh Ayre" class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Sarvesh Ayre</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/ShashankG.png" alt="Shashank Gupta" class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Shashank Gupta</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/MaryL.png" alt="Mary Lopez" class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Mary Lopez</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/AjayP.png" alt="Ajay Pandit" class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Ajay Pandit</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/SagarP.png" alt="Sagar Patel" class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Sagar Patel</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/JeetuS.png" alt='Jeetu "Doctor" Satpute' class="w-100 db"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Jeetu "Doctor" Satpute</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/EricaW.png" alt="Erica Waagella" class="w-100 db" style="width: 316px/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Erica Waagella</dd>
          </dl>
        </div>
      </div>
    </article>
  </section>
  <section class='section-placeholder'>
    <a id='careers'></a>
  </section>
  <section>
  </section>
</div>
