---
layout: default
---

<div class="home bg-grid">
  <section class='section-placeholder'>
    <a id='main'></a>
    <div class='doodle dn'></div>
  </section>
  <section class='pa3 ph5-ns bg-white'>
    <a id='about'></a>
    <article class="ph3 ph5-ns pv5">
      <div class="flex flex-column items-center">
        <div class="measure-wide">
          <h2 class="lh-title">About</h2>
          <p class="lh-copy">JSat Automation is a global Advanced Process Control, Systems Integration, and Validation firm.</p>
          <p class="lh-copy">We provide innovative, expert solutions at the most competitive price.</p>
        </div>
      </div>
      <div class="cf ph2-ns">
        <div class="fl w-100 w-20-l pa2">
        </div>
        <div class="fl w-100 w-20-l pa2">
          <div class="bg-washed-green pa2 br3 shadow-4">
            <h3>Services</h3>
            <ul class='list pl0 lh-copy'>
              <li>Automation</li>
              <li>Validation</li>
              <li>Project Management</li>
              <li>Support Contracts</li>
              <li>Training</li>
              <li>Operational Consulting</li>
              <li>Data Integration</li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-20-l pa2">
          <div class="bg-washed-yellow pa2 br3 shadow-4">
            <h3>Applications</h3>
            <ul class='list pl0 lh-copy'>
              <li>System Architecture & Integration</li>
              <li>Process Control Systems: Batch & Continuous</li>
              <li>Manufacturing Execution Systems (MES)</li>
              <li>Building Management/Automation Systems (BMS/BAS)</li>
              <li>Data Archival & Reporting</li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-20-l pa2">
          <div class="bg-washed-blue pa2 br3 shadow-4">
            <h3>Industries</h3>
            <ul class='list pl0 lh-copy'>
              <li>Chemical</li>
              <li>Pharmaceutical</li>
              <li>Life Sciences & Technology</li>
              <li>Food & Beverage</li>
              <li>Oil & Gas/Petrochemical</li>
              <li>Water/Wastewater Treatment</li>
              <li>Discrete Manufacturing</li>
              <li>Cement/Construction</li>
              <li>Metal</li>
              <li>Energy</li>
            </ul>
          </div>
        </div>
        <div class="fl w-0 w-20-l pa2">
        </div>
        <div class="fl w-20 w-20-l pa2">
        </div>
        <div class="fl w-80 pa2">
          <div class="bg-white pv2">
            <h3>Platforms</h3>
            <ul class='list pl0 lh-copy'>
              <li>Schneider Electric</li>
              <li>Rockwell Automation</li>
              <li>SIEMENS</li>
              <li>vmware</li>
              <li>Hyper-V</li>
              <li>kepware</li>
              <li>OSIsoft</li>
              <li>Software Toolbox</li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class='section-placeholder'>
  </section>
  <section class="pa3 ph5-ns center bg-blue">
    <a id='projects'></a>
    <article class="ph3 ph5-ns pv5">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="dtc-ns v-mid">
          <div>
            <h2 class="fw4 white mt0 mb3">View our featured projects</h2>
            <p class="white measure lh-copy mv0">
              Come see how we helped our customers' interests integrate with the right decision for the right solution!
            </p>
          </div>
        </div>
        <div class="pt3 pt0-ns dtc-ns v-mid cf">
          <a href="/projects/" class="no-underline f6 tc db w-50 pv3 bg-animate bg-white hover-bg-lightest-blue blue br2 fr">Projects</a>
        </div>
      </div>
    </article>
  </section>
  <section class='section-placeholder'>
  </section>
  <section class="pa3 ph5-ns center bg-near-white">
    <a id='team'></a>
    <article class="ph3 ph5-ns pv5">
      <h2 class="mb3 mt0 lh-title">Team</h2>
      <div class="cf">
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/RyanA.jpg" alt='Ryan "Professor" Arceo' class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Ryan "Professor" Arceo</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/SarveshA.jpg" alt="Sarvesh Ayre" class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Sarvesh Ayre</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/ShashankG.jpg" alt="Shashank Gupta" class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Shashank Gupta</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/MaryL.jpg" alt="Mary Lopez" class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Mary Lopez</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/AjayP.jpg" alt="Ajay Pandit" class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Ajay Pandit</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/SagarP.jpg" alt="Sagar Patel" class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Sagar Patel</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/JeetuS.jpg" alt='Jeetu "Doctor" Satpute' class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Jeetu "Doctor" Satpute</dd>
          </dl>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2 tc">
          <img src="/assets/img/EricaW.jpg" alt="Erica Waagella" class="w-100 db br-100"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">name</dt>
            <dd class="ml0 black truncate w-100">Erica Waagella</dd>
          </dl>
        </div>
      </div>
    </article>
  </section>
  <section class='section-placeholder'>
    <a id='careers'></a>
  </section>
  <section>
  </section>
</div>
