---
layout: default
---

<div class="home bg-grid">
  <section class='section-placeholder'>
    <a id='main'></a>
    <div class='doodle dn'></div>
  </section>
  <section class='section-placeholder'>
    <a id='about'></a>
  </section>
  <section class="mh5 pa3 ph5-ns center bg-blue">
    <a id='projects'></a>
    <article class="">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dtc-ns v-mid">
          <div>
            <h2 class="fw4 white mt0 mb3">View our featured projects</h2>
            <p class="white measure lh-copy mv0">
              Come see how we helped our customers' interests integrate with the right decision for the right solution!
            </p>
          </div>
        </div>
        <div class="pa3 pa4-ns dtc-ns v-mid cf">
          <a href="/projects/" class="no-underline f6 tc db w-50 pv3 bg-animate bg-white hover-bg-lightest-blue blue br2 fr">Projects</a>
        </div>
      </div>
    </article>
  </section>
  <section class='section-placeholder'>
    <a id='team'></a>
  </section>
  <section class='section-placeholder'>
    <a id='careers'></a>
  </section>
  <section>
  </section>
</div>
